.head {
    margin-top: 15px;
    margin-bottom: 15px;
}
.head h1 {
    font-family: 'Baloo Tammudu', cursive;
    margin: 0px;
    padding: 0px;
    line-height: 1;
}
.head h2 {
    line-height: 1;
    position: relative;
    top: -8px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: gray;
}

.content {
    font-family: 'Josefin Slab', serif;
}